;rename me to config.ini
[global]
name=requestador

[amqp]
useamq=true
ip=127.0.0.1
port=5672
user=guest
password=guest
heartbeat=25
vhost=/

[server]
usesocketio=true
ip=127.0.0.1
port=3000

[adminserver]
enabled=true
ip=127.0.0.1
port=3001
username=requestador
password=password

[web]
useweb=true
webpollurl=/requestadorpoll
ip=127.0.0.1
port=3000
requirepostsecret=true
requestadorsecret=testpostsecret

[log]
:Absolute path
logFile=/var/log/requestador.log
logToFile=true
logToConsole=true
:Absolute path
failedRequests=/var/log/failedRequests.log


[monitor]
:Absolute path
logFile=/var/log/monitor.log
active=true
sendmail=true
polltimeout=1
monitorMailFrom=monitor@requestador.com
monitorMailTo=myEmailadress@domain.com
monitorMailSubject=There is A problem!
sendmailPath=/usr/sbin/sendmail
sendmailArgs= -t -f myEmailadress@domain.com

[autostart]
smtphost=127.0.0.1
smtpport=25
ignore_tls=true

[proxy]
proxy_enabled=false
proxy_server=127.0.0.1
proxy_port=22
