{% extends 'adminlayout.html' %}



{% block content %}
  <ul class="nav nav-tabs toggles">
    <li role="presentation"><a href="javascript://" class="toggle toggle1" rel="listeners">Listeners</a></li>
    <li role="presentation"><a href="javascript://" class="toggle toggle1" rel="senders">Senders</a></li>
    <li role="presentation"><a href="javascript://" class="toggle toggle1" rel="socket">test socket</a></li>
    <li role="presentation"><a href="javascript://" class="toggle toggle1" rel="socketmessages">socket log</a></li>
      <li role="presentation"><a href="javascript://" class="reloadConfig" rel="reloadConfig">reload config</a></li>

  </ul>


  <img src="/public/images/requestador.png" width="20%" style="float:right;margin:10px;">


  <div class="row toggled" id="senders">
      <h1>Senders</h1>
      "<i>name | method | url | data</i>" <br>Allowerd datatypes: forward (forward postbody or socket msg) empty or fixed
      <form method="POST" action="/admin/senders">
      <div class="input-group">
        <textarea  name="senders" id="senders" class="form-control" style="width:600px;height:400px;">{{ senders }}</textarea><br>
      </div>
      <div class="input-group">
        <input name="submit" id="submit" class="form-control btn btn-success" type="submit" value="Save"/>
      </div>
      </form>
  </div>



  <div class="row toggled" id="listeners">
      <h1>Listeners</h1>
      "<i>name | method | uri | senders_csv</i>"
      <form method="POST" action="/admin/listeners">
      <div class="input-group">
        <textarea    name="listeners" id="listeners"  class="form-control" style="width:600px;height:400px;">{{ listeners }}</textarea>
      </div>
      <div class="input-group">
        <input name="submit" id="submit"   class="form-control btn btn-success" type="submit" value="Save"/>
      </div>
      </form>
  </div>


  <div class="row toggled" id="socket">
      <h1>test socket event</h1>
      <form method="POST"  id="socketTest">
      <div class="input-group">
      Channel: <input type="text" name="channel" id="channel" value="test">
      </div>
      Json:
      <div class="input-group">
        <textarea name="message" id="message" style="width:300px;height:100px;">{foo:'barf'}</textarea>
      </div>
      <div class="input-group">
        <input class="form-control btn btn-success" type="submit" value="Test"/>
      </div>
      </form>
  </div>



  <div class="row toggled" id="socketmessages">
      <h1>Socket log</h1>
      <div  style="border:1px solid gray;min-height:200px;"><ul id="messages">
      </ul></div>
  </div>


  <script>


$(document).ready(function(){

    //ON SOCKET receive
    var socket = io('{{ socketserver }}');
    socket.on('testchannel1', function(data) {
          console.log('socket data received:',data);
          var html = '<li>' + JSON.stringify(data); + '</li>' ;
          $('#messages').append(html);
    });

    //POST TO SOCKET
    $('#socketTest').submit(function(){
      console.log('Push test to socket');
      var $input = $('#message').val();
      var $channel = $('#channel').val();
      socket.emit($channel, $input);
      //$('#m').val('');
      return false;
    });

    //Toggling
    $('a.toggle').click(function(){
      var $this = $(this);
      $('.toggled').hide();
      var $rel = $this.attr('rel');
      console.log($rel);
      $('#' + $rel).show();
    });

    $('.reloadConfig').click(function(e){
        e.preventDefault();
        if (window.confirm("Are you sure you want to reload the config (is it any good)?")) {
            location.href = '/admin/restart';
        }
    });

});

</script>

{% endblock %}