[amqp_0]
name=services
useamq=true
ip=127.0.0.1
port=5672
user=guest
password=guest
heartbeat=25
vhost=/

[amqp_1]
name=test
useamq=true
ip=127.0.0.1
port=5672
user=guest
password=guest
heartbeat=25
vhost=/


[amqp_2]
name=local
useamq=true
ip=127.0.0.1
port=5672
user=guest
password=guest
heartbeat=25
vhost=/
