;rename me to config.ini
[global]
name=requestador

[amqp]
useamq=true
ip=127.0.0.1
port=5672
user=guest
password=guest
heartbeat=25
vhost=/

[server]
usesocketio=true
ip=127.0.0.1
port=3000


[web]
useweb=true
webadmin=true
webpollurl=/requestadorpoll
ip=127.0.0.1
port=3000

[log]
:this is a path relative to the ROOT of the application
logFile=/log/requestador.log
logToFile=true
logToConsole=true
failedRequests=/log/failedRequests.log


[monitor]
:this is a path relative to the ROOT of the application
logFile=/log/monitor.log
active=true
sendmail=true
polltimeout=1
monitorMailFrom=monitor@requestador.com
monitorMailTo=myEmailadress@domain.com
monitorMailSubject=There is A problem!
sendmailPath=/usr/sbin/sendmail
sendmailArgs= -t -f myEmailadress@domain.com

[autostart]
smtphost=127.0.0.1
smtpport=25
ignore_tls=true

[proxy]
proxy_enabled=true
proxy_server=127.0.0.1
proxy_port=22
