;rename me to listeners.inc
POSTTOSOCK|POST|/tosock|DOSOCK2
POSTTOPOST|POST|/topost|DOPOST
POSTTOAMQP|POST|/toamqp|DOAMQP
POSTTOGET|POST|/toget|DOGET
GETTOSOCK|GET|/tosock|DOSOCK2
GETTOPOST|GET|/topost|DOPOST
GETTOAMQP|GET|/toamqp|DOAMQP
GETTOGET|GET|/toget|DOGET
SOCKTOPOST|SOCKET|topost|DOPOST
SOCKTOGET|SOCKET|toget|DOGET
SOCKTOSOCK|SOCKET|tosocket|DOSOCK2
SOCKTOAMQP|SOCKET|toamqp|DOAMQP
AMQPTOPOST|AMQP|test:/queue/testToPost:#toPost.key.be:post.topic|DOPOST
AMQPTOGET|AMQP|test:/queue/testToget:#toget.key.be:get.topic|DOGET
AMQPTOSOCK|AMQP|local:/queue/testToSocket:#tosocket.key.be:socket.topic|DOSOCK2
AMQPTOAMQP|AMQP|local:/queue/testToAmqp:#toamqp.key.be:amqp.topic|DOAMQP

