HANDLEPOST|POST|/test|DOPOST,DOGET1,DOSOCK2
HANDLEPOSTLOOP|POST|/testpostloop|DOGET1
HANDLEGET|GET|/song/play|DOPOST
HANDLEGET|GET|/test|DOPOST,DOGET2,DOSOCK2,DOSOCK3
HANDLESOCKET|SOCKET|test|DOPOSTLOOP
HANDLEAMQ|AMQP|/queue/someQueueName:exchange.key|DOSOCK,DOGET1,DOPOST
HANDLEAMQTEST|AMQP|/queue/mediazone:exchange.key|DOPOST

