DOPOST|POST|http://mnm.frontend.local/submit.php|forward
DOGET1|GET|http://mnm.frontend.local/submit.php|forward
DOGET2|GET|http://127.0.0.1:8080/test|empty
DOSOCK2|SOCKET|testchannel1|empty
DOSOCK3|SOCKET|testchannel2|empty
DOPOSTLOOP|POST|http://mnm.frontend.local/submit.php|forward
