;rename me to senders.inc
DOPOST|POST|http://customdomain.dev/submit.php|forward
DOGET|GET|http://customdomain.dev/submit.php|forward
DOSOCK2|SOCKET|testchannel1|forward
DOAMQP|AMQP|/queue/testToAmqp:#.key.be:requestador.topic|forward
